/* HTML ELEMENTS */
body {
	font-family: "Ubuntu Mono", monospace;
	text-align: center;
}
h1{
    font-size: 3rem;
}
/* CLASSES */
.container {
	width: 80%;
    margin: 0 auto 0 auto;
}
.drawingArea {
	border: 3px solid orangered;
	width: 100%;
}
.btn{
    background-color: tomato;
    margin: 1%;
    font-size: 1.5rem;
}
.btn:hover{
    background-color: rgb(250, 109, 84);
}
